.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.offcanvas-top{
    height: fit-content;
}

/*Estilos de los resultados de busqueda*/
li {
    display: block;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 80%;
    margin: 1rem auto 1rem;
    border: solid rgba(255, 255, 255, 0.521) 0.1rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem;
}
li:hover {
    background-color: rgba(147, 211, 181, 0.377);
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.movie-title {
    color: white;
    margin: 0;
    flex: 1;
}

.movie-tagline {
    color: rgba(255, 255, 255, 0.671);
    margin: 0;
    text-align: left;
    
}

.stars, .fa-star {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 3rem;
    padding: 0.4rem;
    justify-content: flex-end;
    transform: scale(1.1);
}
.star {
    margin-top: 1rem;
}

.fa-star {
    color: lightgray; /* Color gris claro para las estrellas vacías */
}

.checked{
    color: gold;
}
